<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quotely API</title>
  </head>
  <body>
    <form action="/quotes/<%= quote._id %>?_method=PUT" method="POST">
      <label for="quote">Quote text:</label>
      <input
        type="text"
        id="quote"
        name="quote"
        placeholder="My dear Watson"
        value="<%= quote.quote %>"
      />
      <label for="author">Quote author:</label>
      <input
        type="text"
        id="author"
        name="author"
        placeholder="Sherlock Holmes"
        value="<%= quote.author %>"
      />
      <label for="profession">Author profession:</label>
      <input
        type="text"
        id="profession"
        name="profession"
        placeholder="Detective"
        value="<%= quote.profession %>"
      />
      <button>Submit</button>
    </form>
    <form action="/quotes/<%= quote._id %>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
  </body>
</html>
